<h1><strong>Select a Provider</strong></h1>
<p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsx7jS96cIg9siZhAebmScS8acF6hegvYcMw&amp;usqp=CAU" alt="Cloud Monitoring Tool | Monitor Cloud Services - Site24x7" /></p>
<p>&nbsp;</p>
<form method="post"><label for="provider"><strong>Choose a provider</strong>:</label><select id="provider" name="provider">
<option value="aws">AWS</option>
<option value="azure">Azure</option>
</select>
<p>&nbsp;</p>
<p><br /><input type="submit" value="Configure" /></p>
</form>
